.schedule {
    display: none;
}


table{
    word-break: break-all;

}
th {
    text-align: center;
    font-size: 10px;
}

td {
    text-align: left;
    font-size: 10px;
    word-wrap:break-word;
}

caption {
    text-align: left;
    font-size: 10px;
}